<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (events.length === 0) {
    <div class="container">
      <strong>No Events Found</strong>
    </div>
  } @else {
  @for (event of events; track event) {
    <ion-item>
      {{ event.name }} - {{ event.date }}
    </ion-item>
    }
  }

  <div class="createBtn">
    <ion-fab slot="fixed">
      <ion-fab-button >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>


</ion-content>