<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-back-button></ion-back-button>
    </div>

    <ion-title> {{ eventname }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="main-container">
    <a class="page-link" href="#">
      <div class="page-container">Participants</div>
    </a>

    <a class="page-link" href="#">
      <div class="page-container">Judges</div>
    </a>

    <a class="page-link" href="#">
      <div class="page-container">Rulings</div>
    </a>

  </div>



</ion-content>