<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (events.length === 0) {
  <div class="container">
    <strong>No Events Found</strong>
  </div>
  }

  @for (event of events; track event) {

  <div class="event-container">

    <a [routerLink]="['/','events','event-page', event.name]">
      <div class="event-name">
        {{ event.name }}
      </div>

      <div class="event-date">
        {{ event.date }}
      </div>

      <div class="event-format">
        {{ event.format }}
      </div>

      <div class="event-game">
        {{ event.game }}
      </div>

      <div class="event-country">
        {{ event.country }}
      </div>
    </a>


  </div>
  }

  <div class="createBtn">

  </div>


</ion-content>