<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (events.length === 0) {
  <div class="container">
    <strong>No Events Found</strong>
  </div>
  }

  @for (event of events; track event) {

  <a class="event-link" [routerLink]="['/','events','event-page', event.name]">
    <div class="event-container">
      <div class="event-name">
        {{ event.name }}
      </div>

      <div class="event-date">
        {{ event.date }}
      </div>

      <div class="event-format">
        {{ event.format }}
      </div>

      <div class="event-game">
        {{ event.game }}
      </div>

      <div class="event-country">
        {{ event.country }}
      </div>
    </div>
  </a>

  }


  <div class="createBtn" (click)="openEventForm()">
    <img src="assets/icon/add-circle-24px.svg" alt="Create Event">
  </div>

  @if (isFormOpen) {
  <div class="form-container">
    <div class="form-wrap">
      <h1>
        Create Event
      </h1>

      <form>
        <div class="input-wrap">
          <label class="form-label" id="name" for="name">Event Name:</label>
          <ion-input class="form-input" [(ngModel)]="eventForm.name" id="name" name="name" clearInput="true"
            placeholder="Enter Event Name Here" required></ion-input>
        </div>

        <br>

        <div class="input-wrap">
          <label class="form-label" id="game" for="Game">Game: </label>
          <ion-select class="form-select" id="game" name="game" placeholder="Select Game" required
            [(ngModel)]="eventForm.game">
            @for (game of games; track game) {
            <ion-select-option value="{{ game }}">{{ game }}</ion-select-option>
            }
          </ion-select>
        </div>

        <div class="input-wrap">
          <label class="form-label" id="format" for="Format">Format: </label>
          <ion-select class="form-select" id="format" name="format" placeholder="Select Format" required
            [(ngModel)]="eventForm.format">
            @for (format of formats; track format) {
            <ion-select-option value="{{ format }}">{{ format }}</ion-select-option>
            }
          </ion-select>
        </div>

        <div class="input-wrap">
          <label class="form-label" id="country" for="Country">Country: </label>
          <ion-select class="form-select" id="country" name="country" placeholder="Select Country" required
            [(ngModel)]="eventForm.country">
            @for (country of countries; track country) {
            <ion-select-option value="{{ country }}">{{ country }}</ion-select-option>
            }
          </ion-select>
        </div>

        <!-- <div class="input-wrap">
          <label class="form-label" id="date" for="date">Date: </label>
          <ion-datetime-button datetime="datetime" id="date" name="date" [(ngModel)]="eventForm.date"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" ></ion-datetime>
            </ng-template>
          </ion-modal>
        </div> -->

        <div class="form-btn-wrap">
          <button class="submitBtn" type="submit" (click)="createEvent()">Create Event</button>

        </div>

        <div class="form-cnl-btn">
          <button class="cancelBtn" (click)="isFormOpen = false">Cancel</button>
        </div>

      </form>


    </div>
  </div>

  }

</ion-content>