<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (events.length === 0) {
  <div class="container">
    <strong>No Events Found</strong>
  </div>
  }

  @for (event of events; track event) {

  <a class="event-link" [routerLink]="['/','events','event-page', event.id]">
    <div class="event-container">
      <div class="event-name">
        {{ event.name }}
      </div>

      <div class="event-date">
        {{ event.date }}
      </div>

      <div class="event-format">
        {{ event.format }}
      </div>

      <div class="event-game">
        {{ event.game }}
      </div>

      <div class="event-country">
        {{ event.country }}
      </div>
    </div>
  </a>

  }


  <div class="createBtn" (click)="openEventForm()">
    <img src="assets/icon/add-circle-24px.svg" alt="Create Event">
  </div>

  @if (isFormOpen) {
  <div class="form-container">
    <div class="form-wrap">
      <h1>
        Create Event
      </h1>

      <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
        <div>
          <ion-label position="stacked">Event Name:</ion-label>
          <ion-input class="form-input" fill="solid" formControlName="name" type="text" [clearInput]="true"
            placeholder="Enter Event Name"></ion-input>
        </div>

        <div>
          <ion-label position="stacked">Game:</ion-label>
          <ion-select class="form-select" formControlName="game" placeholder="Select a game">
            @for(game of games; track game) {
            <ion-select-option value="{{ game }}">{{ game }}</ion-select-option>
            }
          </ion-select>
        </div>

        <div>
          <ion-label position="stacked">Format:</ion-label>
          <ion-select class="form-select" formControlName="format" placeholder="Select a format">
            @for(format of formats; track format) {
            <ion-select-option value="{{ format }}">{{ format }}</ion-select-option>
            }
          </ion-select>
        </div>

        <div>
          <ion-label position="stacked">Country:</ion-label>
          <ion-select class="form-select" formControlName="country" placeholder="Select a country">
            @for(country of countries; track country) {
            <ion-select-option value="{{ country }}">{{ country }}</ion-select-option>
            }
          </ion-select>
        </div>

        <div>
          <ion-label position="stacked">Event Date:</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" [showDefaultButtons]="true"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <div class="form-btn-container">
          <div class="form-btn-wrap">
            <button class="submitBtn" type="submit">Create Event</button>
          </div>

          <div class="form-cnl-btn">
            <button class="cancelBtn" (click)="isFormOpen = false">Cancel</button>
          </div>
        </div>

      </form>


    </div>
  </div>

  }

</ion-content>